sudo: false
language: go
go:
- '1.9.1'
- master
script: make test
env:
  # GITHUB_TOKEN: tisba/"stormforger/cli goreleaser"
  - secure: "G+n4gBmpZU2AW9NA1DqKpg9rDYKYOKK2UGmg7nVmyG/tmqfI51852s+rAgQ1VKAlIbl/Wha+Et9rO17J26XaUuttkVAILqTgJXWVuedFVmLPYlKhyFbAONOwJIhK/1XMtCT8oDIWvSVtOJ9noAkstq5woySNwJ4RSMpZ91MT+ZCHXXM0ebP0L5prvgIgGN/0X9khbSG8jR3lCB/wOtmRVpI5c766mPexX5+F/aSKGnOOyE55PoYmUVVe7qW0dYqvcnJmlz4cUZXTCf1qAJzwO+iAzHxyzI2P9sa1f/ESDNgSUOQZuLzCB43cRsFlynbMYrrCUNbV8CZwW6T40KEMmo0XAcnfLuxQjR0YAaSXh0MuTHqkcetFkmx97hJA+jcQI1dsZCudbE1jLLxSb6fWvBWC9MfaV/sod9EnVak85PNliTGG7KWlasW2OcZl1TE9cnXps8jxPiwrk1X1V0xwe6frC+XeV08Xh//kvpa8uhPLSaSgOssngagiARae79cA43sf1rZLVBraec/loWyl5JW9pXPWvVrcDf/SBCvX46n/Z+FGEmMlqPexR5EmUWZAS9bNHEREmkfKKZKyP/Q76QnKhcPI45trRTkc1LfbyzKr7/HekJQFTzgi5uzU3Hbb6mUADHO7oekdU50b8RPo/2NSg2dkgVcDeGK9kapCeik="
after_success:
  - test -n "$TRAVIS_TAG" && curl -sL https://git.io/goreleaser | bash
