sudo: false
language: go
go:
- "1.10.2"
script: make test
services:
  - docker
env:
  # DOCKER_USERNAME="stormforger"
  # DOCKER_PASSWORD=$geheim
  # GITHUB_TOKEN=${see tisba/"stormforger/cli goreleaser"}
  - secure: "gEoD3DDjgjUghN2biVOqXmygXZzmPB1jC6xR38y2OWAZhFqD+wScs73Y1Uz8fx7qWIa/pWKwH76MUcSwV6DPit1tOsRqi+/Kr8j984wOhoo70dwOPsrCH5w/HqluclHsOGRPOWaNiVPPjFC18YJvzVSWLfoi2bbMeXljgjDP5nVCfhZ/cc1+yGkwqVI3/c92clAFPFA4ZYc+2HQVyqvNbIR+iEOgIiV5u3wK/JgSvmWEKHdGKQIGKYAv9KkwB7ob2q4KiuyWukRN+l1c5OBSZadqYy2wwJKj/mzRRuV40G//kYK8Y3LMp6xXIhN+GHTCdUXlrl6CVUSD9s6o6TwGoQplJKzAHR6xkvqhDDQGV6DDA1lnEBeflsNZn6mfQ8ODdpzqZgUyiUTsuRnVPo3bHvgrws50wLP7q0MlDZj2Lz4+Et41135979+Ca1h7YDfs3Gr0CuNjZvtPEcVCPBuvjuI5SAedvzoRjhB66tcPTT+bw8JzuGd6lW0aR2FHbH/PreaWwFejlEoo7o8jvR4uOGirHWjfrpn4tDCl+E/aWhevsNEG73bF890ah76yZ0GGiQ8LTcMLyNrEgnQfE2+WZ/d4OBhDCEPhhQXcF3Oa18iOmq8Cag+AcG3rMCvtXD54j1apwaAIyyB1xDQwK1oJ4arJNb0W+/DORpVF1QhVKQ0="
after_success:
  - test -n "$TRAVIS_TAG" && docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - test -n "$TRAVIS_TAG" && curl -sL https://git.io/goreleaser | bash
